{% extends "base.html" %}

{% block title %}Login | LZ Sports{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="login-layout">
  <!-- Card esquerdo -->
  <section class="login-card">
    <img class="login-logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">

    <form class="login-form" method="post" action="/cadastrar">
        <input class="login-input" type="text" name="full_name" id="full_name" required>
        <input class="login-input" type="email" name="email" id="email" placeholder="E-mail" required>
        <input class="login-input" type="text" name="username" id="username" placeholder="Usuário" required>
        <input class="login-input" type="password" name="password" id="password" placeholder="Senha" required minlength="6">
        <input class="login-input" type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar senha" required minlength="6">

      <button type="submit" class="login-btn">Cadastrar</button>

      <div class="login-links">
        <a href="{{ url_for('main.login') }}" class="login-link">Já tenho uma conta</a>
      </div>
    </form>
  </section>

  <!-- Lado direito (background) -->
  <aside class="login-hero" aria-hidden="true"></aside>
</div>
{% endblock %}
